@charset "UTF-8";
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos globles*/
/* Body homogéneo para todos los HTML */
body {
  font-family: "Roboto Slab", "Times New Roman";
  background-color: #006f6d;
}

/* Main homogéneo para todos los HTML */
main {
  background-color: #ffffff;
}

/* Fuentes para index/inicio */
p, h3, h2, h1 {
  font-family: sans-serif;
  line-height: 2rem;
  margin: 1rem;
  color: #8b8b8b;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.663);
}

p {
  font-size: 14px;
  margin-top: -2rem;
}

.p-dialog {
  font-size: 1rem;
  margin: 1rem;
  color: #8b8b8b;
}

/* Fuentes para géneros */
.p-generos {
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0.4rem;
  text-align: left;
  color: rgb(139, 139, 139);
}

/* Header homogéneo para todas las pages */
header {
  background-image: linear-gradient(to right, #ffe69c, var(--bs-light));
}

.container-fluid {
  flex-direction: column;
  margin-top: 1rem;
}

.logo-header {
  border-radius: 50%;
  box-shadow: 0px 4px 0px #01565a;
}
.navbar-brand .logo-header, .navbar-scroll .logo-header {
  max-height: 5rem;
}
.navbar-brand .logo-header {
  margin-top: 2rem;
}

/* Ajustes para el contenedor de la barra de navegación al hacer scroll */
.navbar-scroll {
  height: 12rem;
}
.navbar-scroll .logo-header {
  max-width: 5rem;
  height: auto;
}
.navbar-scroll .navbar-custom {
  margin-top: 4rem;
  padding: 0;
  height: 1rem;
}
.navbar-scroll .navbar-nav .nav-link {
  font-size: 0.8rem;
  transition: font-size 0.6s ease;
}

.navbar-collapse {
  margin-left: -4rem;
}

/* Ajustes para el contenedor de la barra */
.navbar-custom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  color: #8b8b8b;
  font-weight: 900;
  text-decoration: none;
  transition: font-size 0.6s ease;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

.navbar-brand .logo-header {
  max-height: 10rem;
  margin-top: 2rem;
  width: 10rem;
  transition: max-height 0.6s ease;
}

/* Footer homogéneo para todas los HTML */
.footer-section {
  background-color: #01565a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "footer-item dialog-box-4";
}
.footer-section h4 {
  margin-left: 1rem;
  font-size: 2rem;
  margin-top: 4rem;
  color: aliceblue;
}
.footer-section .dialog-box-4 {
  display: flex;
  grid-area: dialog-box-4;
  padding: 0rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.footer-section .dialog-box-4 img {
  position: relative;
  margin-top: 9rem;
  margin-left: -25rem;
  margin-right: 29rem;
  height: auto;
  width: 2.5rem;
  z-index: 1;
}
.footer-section .footer-item {
  grid-area: footer-item;
  padding: 3rem;
}
.footer-section .footer-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: aliceblue;
  margin-top: 0.5rem;
  display: flow;
}

/* main: inicio/index */
.main-index {
  height: 195rem;
}
.main-index .encabezado {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 32rem;
  background-color: #ffffff;
  margin-top: 4rem;
}
.main-index .encabezado .dialog-box-1 {
  position: relative;
  top: 15rem;
  padding: 3rem;
  width: 30rem;
  margin-right: 44rem;
  text-align: center;
  animation: slideInFromLeft 1.3s ease-in-out forwards;
}
.main-index .encabezado .dialog-box-1 .img-inicio {
  position: absolute;
  width: 16rem;
  margin-left: 5rem;
  margin-top: -9rem;
}
.main-index .encabezado .dialog-box-1 .img-inicio-2 {
  width: 27rem;
  margin-top: -2rem;
}
.main-index .encabezado .dialog-box-2 {
  position: absolute;
  top: 24rem;
  width: 47rem;
  min-height: 10rem;
  padding: -1rem;
  margin-right: 5rem;
  border: 0.5rem solid #ffe69c;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  animation: slideInFromRight 1.8s ease-in-out forwards;
  overflow: auto;
}
.main-index .section-contenido-destacado {
  display: grid;
  grid-template-areas: "dialog-box-5" "dialog-box-5" "dialog-juego" "dialog-box-aprendizaje " "dialog-box-aprendizaje" "dialog-box-3" "grid-item" "button-mas-historias";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
.main-index .section-contenido-destacado .dialog-box-3 {
  grid-area: dialog-box-3;
  margin-top: -40rem;
  margin-left: 36rem;
  max-width: 25rem;
  max-height: 4rem;
  height: 5rem;
  border: 0.3rem solid #01565a;
  background-color: #ffffff;
  z-index: 1;
}
.main-index .section-contenido-destacado .dialog-box-5 {
  grid-area: dialog-box-5;
  overflow: auto;
  margin-top: 35rem;
  margin-bottom: 1rem;
  margin-left: 49rem;
  background-color: rgb(255, 255, 255);
  border: 0.5rem solid #ffe69c;
  width: 45rem;
  height: 22rem;
}
.main-index .section-contenido-destacado .dialog-juego {
  grid-area: dialog-juego;
  background-color: #ffffff;
  border: 0.5rem solid #01565a;
  width: 31rem;
  height: 26rem;
  margin: -38rem 8rem 1rem;
  text-align: center;
}
.main-index .section-contenido-destacado .dialog-juego:hover {
  animation: shake 1.5s;
}
.main-index .section-contenido-destacado .dialog-juego .div-juego-1 {
  display: grid;
  gap: 0.8rem;
}
.main-index .section-contenido-destacado .dialog-juego .btn-juego {
  border: 0.2rem solid rgba(255, 230, 156, 0.7411764706);
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: 22rem;
  margin: 1rem;
  margin-left: 4rem;
}
.main-index .section-contenido-destacado .banner-1 img {
  max-width: 100%;
}
.main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje {
  grid-area: dialog-box-aprendizaje;
  background-color: #ffffff;
  max-width: 90%;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #01565a;
  max-width: 100%;
  height: 8rem;
  margin-top: -9rem;
}
.main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 p {
  margin-top: 1rem;
  text-align: center;
}
.main-index .section-contenido-destacado .button-mas-historias {
  grid-area: button-mas-historias;
  text-decoration: none;
  width: 15rem;
  background-color: aliceblue;
  border: 0.5rem solid #ffe69c;
  text-align: center;
  margin-left: 40rem;
  margin-top: 1rem;
}
.main-index .section-contenido-destacado .button-mas-historias a {
  text-decoration: none;
  color: #000;
}
.main-index .section-contenido-destacado .button-mas-historias:hover {
  opacity: 0.75;
}
.main-index .section-contenido-destacado .grid-item-container {
  display: grid;
  background-color: #ffe69c;
  width: 50rem;
  height: 30rem;
  margin-top: 15rem;
  margin-left: 24rem;
}
.main-index .section-contenido-destacado .grid-item-container .grid-item {
  background-color: #ffffff;
  display: grid;
  grid-area: grid-item;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img-cuento texto" "img-cuento texto";
  max-width: 100%;
  max-height: 100%;
  margin-top: -5rem;
  box-shadow: 4px 3px 12px 7px #01565a;
}
.main-index .section-contenido-destacado .grid-item-container .grid-item img {
  grid-area: img-cuento;
  max-width: 100%;
  height: 100%;
}
.main-index .section-contenido-destacado .modal .modal-dialog .modal-conten .modal-header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.main-index .section-contenido-destacado article {
  cursor: pointer;
}
.main-index .section-contenido-destacado .carousel {
  background-color: #ffe69c;
}
.main-index .section-contenido-destacado .carousel .carousel-control-next-icon,
.main-index .section-contenido-destacado .carousel .carousel-control-prev-icon {
  background-color: #01565a;
}
.main-index .section-contenido-destacado .carousel .carousel-inner {
  max-height: 56rem;
}
.main-index .section-contenido-destacado .iconos-grid-item {
  display: grid;
  grid-area: enlaces-lineas-div;
  width: 2rem;
  margin-left: 20rem;
  margin-top: -0.6rem;
  margin-bottom: -2.8rem;
}
.main-index .section-contenido-destacado .iconos-redes-item {
  width: 1rem;
  margin-right: 1rem;
}
.main-index .tabla-modal-body {
  background-color: #ffffff;
  box-shadow: 40px 2px 50px rgba(0, 0, 0, 0.2);
  width: 33rem;
  height: 15rem;
  border-radius: 0.8rem;
}
.main-index .modal-body {
  text-align: justify;
  line-height: 2rem;
  top: 1rem;
}
.main-index .btn-modal {
  border: 2px solid #01565a;
  border-radius: 10px;
  width: 6rem;
  background-color: white;
}

/* Sección géneros*/
.main-generos {
  margin-top: 8rem;
  height: 140rem;
}
.main-generos .section-contenido-destacado-generos {
  display: grid;
  grid-template-areas: "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-encabezado-generos box-encabezado-generos box-encabezado-generos" "box-generos-1 box-generos-2 box-generos-2" "box-generos-3 box-generos-4 box-generos-4" "box-generos-5 box-generos-6 box-generos-6";
  gap: 6rem;
  margin-left: 4rem;
  height: auto;
}
.main-generos .section-contenido-destacado-generos .box-encabezado-generos {
  position: absolute;
  text-align: center;
  grid-area: box-encabezado-generos;
  background-color: #ffffff;
  border: 0.3rem solid #01565a;
  width: 29rem;
  margin-left: 30rem;
  margin-top: 85rem;
}
.main-generos .section-contenido-destacado-generos .box-card {
  background-color: transparent;
  width: 14.9rem;
  height: 20.75rem;
  margin-left: 15rem;
  perspective: 62.5rem;
}
.main-generos .section-contenido-destacado-generos .box-card:hover .box-generos-interior {
  transform: rotateY(180deg);
  cursor: pointer;
}
.main-generos .section-contenido-destacado-generos .box-card .img-generos {
  max-width: 13.9rem;
  margin-top: 1.9rem;
}
.main-generos .section-contenido-destacado-generos .box-generos-interior {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.main-generos .section-contenido-destacado-generos .box-generos-frente, .main-generos .section-contenido-destacado-generos .box-generos-dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.main-generos .section-contenido-destacado-generos .box-generos-dorso {
  background-color: #ffffff;
  transform: rotateY(180deg);
  border: 0.5rem solid #ffe69c;
}
.main-generos .section-contenido-destacado-generos .box-generos-dorso p {
  font-size: 0.8rem;
}
.main-generos .section-contenido-destacado-generos .box-generos-1 {
  grid-area: box-generos-1;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-2 {
  grid-area: box-generos-2;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-3 {
  grid-area: box-generos-3;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-4 {
  grid-area: box-generos-4;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-5 {
  grid-area: box-generos-5;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-6 {
  grid-area: box-generos-6;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-historia-generos {
  position: relative;
  grid-area: box-historia-generos;
  background-color: #ffffff;
  width: 34rem;
  height: 17rem;
  margin-left: 7rem;
  margin-top: 17rem;
  border: 0.5rem solid #ffe69c;
}
.main-generos .section-contenido-destacado-generos .box-historia-generos-2 {
  position: absolute;
  grid-area: box-historia-generos-2;
  background-color: #ffffff;
  border: 0.5rem solid #01565a;
  width: 25rem;
  height: 16rem;
  margin-top: 17rem;
  margin-left: 56rem;
}
.main-generos .section-contenido-destacado-generos .avatar-tales-2 {
  width: 8rem;
  margin-left: 20.5rem;
  margin-top: -5rem;
}
.main-generos #menu-generos {
  display: none;
  transform: translateX(100%);
  transition: transform 1s ease;
  position: fixed;
  top: 16rem;
  margin-left: 30rem;
  height: 28rem;
  width: 30rem;
  background-color: #fff;
  border-left: 5px solid #01565a;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.main-generos #menu-generos nav {
  display: flex;
  flex-direction: column;
}
.main-generos #menu-generos nav a {
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
}
.main-generos #menu-generos nav a:hover {
  background-color: #ffe69c;
}
.main-generos #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

/* Main: nuestra-historia*/
.main-nuestra-historia {
  display: grid;
  grid-template-areas: "box-nuestra-historia box-nuestra-historia" "video-nuestra-historia video-nuestra-historia" "box-nuestra-historia-2 box-nuestra-historia-3";
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}
.main-nuestra-historia section {
  display: grid;
}
.main-nuestra-historia section .box-nuestra-historia {
  grid-area: box-nuestra-historia;
  border: 0.5rem solid #01565a;
  background-color: #ffffff;
  width: 43rem;
  height: 8rem;
  margin-top: 22rem;
  margin-left: 25rem;
}
.main-nuestra-historia section .video-nuestra-historia {
  grid-area: video-nuestra-historia;
  width: 40rem;
  border: 0.5rem solid #ffe69c;
  box-shadow: 0px 4px 10px 17px #ffe69c;
  margin-top: 38rem;
  margin-left: 5rem;
}
.main-nuestra-historia section .box-nuestra-historia-2 {
  grid-area: box-nuestra-historia-2;
  border: 0.5rem solid #ffe69c;
  background-color: #ffffff;
  width: 40rem;
  height: 27rem;
  margin-top: 66rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  z-index: 1;
}
.main-nuestra-historia section .box-nuestra-historia-2 .img-libros {
  position: absolute;
  width: 10rem;
  height: auto;
  margin-top: 12.5rem;
  margin-left: 30rem;
  z-index: -1;
}
.main-nuestra-historia section .box-nuestra-historia-3 {
  grid-area: box-nuestra-historia-3;
  border: 0.5rem solid #ffe69c;
  width: 38rem;
  height: 15rem;
  margin-top: 37.5rem;
  margin-left: 52rem;
}

/* Main: educación */
.main-educacion {
  height: 280rem;
}
.main-educacion .section-contenido-destacado-educación {
  display: grid;
  grid-template-areas: "box-educacion-2" "box-educacion-1" "box-educacion-3";
  justify-content: center;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 {
  grid-area: box-educacion-2;
  margin-top: 25rem;
  margin-left: 10rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 div {
  border: 0.2rem solid #ffe69c;
  width: 40rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 div h2 {
  font-size: 2rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .text-caida {
  display: inline-block;
  opacity: 0;
  animation: caida 0.5s forwards;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-1 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-1 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-1 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -40rem;
  margin-left: 22rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-2 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-2 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-2 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -40rem;
  margin-left: 22rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-3 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-3 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-3 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -40rem;
  margin-left: 22rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -40rem;
  margin-left: 22rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-2 p, .main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4 p {
  text-align: end;
  margin-left: 20rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-2 img, .main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -18rem;
  margin-left: -7rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-3 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -21rem;
  margin-left: 22rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4 img {
  position: relative;
  width: 25rem;
  height: 28rem;
  margin-top: -19rem;
  margin-left: -7rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 {
  display: grid;
  grid-area: box-educacion-3;
  background-color: #ffffff;
  border: 0.5rem solid #01565a;
  width: 52rem;
  height: 58rem;
  margin-top: 15rem;
  margin-left: 5rem;
  grid-template-areas: "box-porque-leer-1 box-porque-leer-2" "box-porque-leer-3 box-porque-leer-4" "box-porque-leer-5 box-porque-leer-6";
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-1 {
  display: grid;
  max-width: 23rem;
  max-height: 14rem;
  margin: 1rem;
  margin-top: 6.5rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-1;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-1 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-1 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-1:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-2 {
  display: grid;
  max-width: 23rem;
  max-height: 14rem;
  margin: 1rem;
  margin-top: 6.5rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-2;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-2 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-2 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-2:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-3 {
  display: grid;
  max-width: 23rem;
  max-height: 14rem;
  margin: 1rem;
  margin-top: 6.5rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-3;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-3 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-3 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-3:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-4 {
  display: grid;
  max-width: 23rem;
  max-height: 14rem;
  margin: 1rem;
  margin-top: 6.5rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-4;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-4 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-4 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-4:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-5 {
  display: grid;
  max-width: 23rem;
  max-height: 14rem;
  margin: 1rem;
  margin-top: 6.5rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-5;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-5 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-5 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-5:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-6 {
  display: grid;
  max-width: 23rem;
  max-height: 14rem;
  margin: 1rem;
  margin-top: 6.5rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-6;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-6 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-6 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-porque-leer-6:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-tex-porque-leer {
  margin-top: 0rem;
  margin-left: 2rem;
  max-width: 46rem;
  position: absolute;
  text-align: center;
}
.main-educacion .section-contenido-destacado-educación .mini-avatar {
  position: absolute;
  width: 20rem;
  margin-left: 43rem;
}

/*Main - suscribirse*/
.section-contenido-destacado-suscribirse {
  display: grid;
  grid-template-areas: "box-dialog-suscribirse" "box-dialog-suscribirse-2" "box-form";
  height: 100rem;
  justify-items: center;
}
.section-contenido-destacado-suscribirse .box-form {
  grid-area: box-form;
  border: 0.5rem solid #01565a;
  width: 50rem;
  height: 14rem;
  margin-top: 6rem;
}
.section-contenido-destacado-suscribirse .box-dialog-suscribirse {
  grid-area: box-dialog-suscribirse;
  background-color: white;
  border: 0.5rem solid #ffe69c;
  width: 30rem;
  height: 5rem;
  margin-top: 24rem;
}
.section-contenido-destacado-suscribirse .box-dialog-suscribirse-2 {
  grid-area: box-dialog-suscribirse-2;
  background-color: white;
  border: 0.5rem solid #ffe69c;
  width: 40rem;
  margin-top: 1rem;
  height: 35rem;
}
.section-contenido-destacado-suscribirse .box-dialog-suscribirse-2 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}

form, label, input {
  margin: 0.5rem;
  text-align: center;
}

/* Media query index/inicio*/
@media (min-width: 320px) and (max-width: 768px) {
  .main-index {
    margin-right: -6rem;
    max-height: 177rem;
  }
  .main-index .encabezado {
    grid-template-columns: 1fr;
    max-width: 20rem;
    max-height: 25rem;
  }
  .main-index .encabezado .dialog-box-1 {
    max-width: 18rem;
    margin-right: 0rem;
  }
  .main-index .encabezado .dialog-box-1 .img-inicio {
    position: absolute;
    width: 10rem;
    margin-top: -6rem;
  }
  .main-index .encabezado .dialog-box-1 .img-inicio-2 {
    width: 20rem;
  }
  .main-index .encabezado .dialog-box-2 {
    max-width: 20rem;
    max-height: 20rem;
    margin-top: 15rem;
    margin-right: -1rem;
  }
  .main-index .section-contenido-destacado {
    grid-template-areas: "dialog-box-5" "dialog-juego" "dialog-box-aprendizaje" "dialog-box-3" "grid-item" "grid-container" "button-mas-historias";
    grid-template-columns: 1fr;
  }
  .main-index .section-contenido-destacado .carousel {
    max-width: 80%;
    margin-top: 19rem;
  }
  .main-index .section-contenido-destacado .banner-1 {
    max-width: 80%;
  }
  .main-index .section-contenido-destacado .banner-1 img {
    max-width: 100%;
  }
  .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje {
    margin-top: 4rem;
    margin-bottom: -13rem;
    margin-left: 6rem;
    max-width: 20rem;
  }
  .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 {
    height: 10rem;
  }
  .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje p {
    font-size: 0.6rem;
  }
  .main-index .section-contenido-destacado .dialog-box-3 {
    max-width: 18rem;
    text-align: end;
    margin-top: 17rem;
    margin-bottom: -17rem;
    margin-left: 7rem;
  }
  .main-index .section-contenido-destacado .dialog-box-3 h3 {
    font-size: 0.8rem;
  }
  .main-index .section-contenido-destacado .dialog-box-5 {
    max-width: 20rem;
    margin-left: 8rem;
  }
  .main-index .section-contenido-destacado .dialog-juego {
    max-width: 20rem;
    margin-top: 1rem;
    margin-left: 8rem;
  }
  .main-index .section-contenido-destacado .dialog-juego .div-juego-1 {
    max-width: 20rem;
  }
  .main-index .section-contenido-destacado .dialog-juego .div-juego-1 .respuesta {
    max-width: 12rem;
  }
  .main-index .section-contenido-destacado .div-dato-curioso-1 {
    min-width: 20rem;
    margin-top: 1rem;
    text-align: end;
  }
  .main-index .section-contenido-destacado .button-mas-historias {
    margin-top: 1rem;
    margin-left: 8.5rem;
  }
  .main-index .section-contenido-destacado .grid-item-container {
    max-width: 16rem;
    max-height: 11rem;
    margin-top: 14rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item {
    grid-template-columns: 60% 40%;
    max-width: 20rem;
    max-height: 15rem;
    margin-left: -26rem;
    margin-top: -10rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item img {
    float: left;
    max-width: 90%;
    height: 15.2rem;
    margin-top: -0.2rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item p {
    font-size: 0.8rem;
    margin: 0.2rem;
    line-height: 1rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item h3 {
    line-height: 1rem;
    margin: 0.2rem;
  }
}
/*Media query géneros*/
@media (min-width: 320px) and (max-width: 768px) {
  .main-generos {
    min-width: 20rem;
    margin-right: -6rem;
    margin-top: -66rem;
    height: 150rem;
  }
  .main-generos .section-contenido-destacado-generos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "box-historia-generos-2 box-historia-generos-2" "box-historia-generos-2 box-historia-generos-2" "box-historia-generos box-historia-generos" "box-historia-generos box-historia-generos" "box-encabezado-generos box-encabezado-generos" "box-generos-1 box-generos-2" "box-generos-3 box-generos-4" "box-generos-5 box-generos-6";
    gap: 1rem;
    min-width: 20rem;
    margin: 0 auto;
    margin-left: 0rem;
    height: auto;
    margin-top: 80rem;
  }
  .main-generos .section-contenido-destacado-generos .box-encabezado-generos {
    margin-left: 1rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos {
    width: 90%;
    margin-left: 1rem;
    margin-top: 5rem;
    height: 13rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos h2 {
    font-size: 1rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos p {
    font-size: 0.8rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos-2 {
    width: 100%;
    margin-left: 2.5rem;
    margin-top: 21rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos-2 p {
    font-size: 0.8rem;
  }
  .main-generos .section-contenido-destacado-generos .avatar-tales-2 {
    width: 8rem;
    margin-left: 20rem;
    margin-top: -5rem;
  }
  .main-generos .section-contenido-destacado-generos .box-card {
    margin-bottom: -36rem;
    margin-left: 0.1rem;
    margin-top: 41rem;
  }
  .main-generos .section-contenido-destacado-generos .box-card .img-generos {
    margin-top: 2.9rem;
  }
  .main-generos #menu-generos {
    margin-left: 3rem;
    max-width: 20rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .main-nuestra-historia {
    height: 130rem;
    min-width: 20rem;
    margin-right: -6rem;
    display: grid;
    grid-template-areas: "box-nuestra-historia" "video-nuestra-historia" "box-nuestra-historia-2" "box-nuestra-historia-3";
    justify-items: center;
  }
  .main-nuestra-historia section {
    width: 20rem;
  }
  .main-nuestra-historia section .box-nuestra-historia {
    width: 20rem;
    margin-left: 6rem;
  }
  .main-nuestra-historia section .box-nuestra-historia h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  .main-nuestra-historia section .video-nuestra-historia {
    margin-left: 6rem;
    width: 20rem;
  }
  .main-nuestra-historia section .box-nuestra-historia-2 {
    width: 20rem;
    margin-left: 6rem;
    margin-top: 82rem;
    height: 44rem;
  }
  .main-nuestra-historia section .box-nuestra-historia-2 .img-libros {
    margin-left: 10rem;
    margin-top: 30rem;
  }
  .main-nuestra-historia section .box-nuestra-historia-3 {
    width: 20rem;
    height: 25rem;
    margin-left: 6rem;
    margin-top: 55rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .main-educacion {
    width: 20rem;
    margin-top: -66rem;
    height: 350rem;
  }
  .main-educacion .section-contenido-destacado-educación {
    display: grid;
    grid-template-areas: "box-educacion-2" "box-educacion-1" "box-educacion-3";
    justify-content: center;
    gap: 20px;
  }
  .main-educacion .section-contenido-destacado-educación div {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2, .main-educacion .section-contenido-destacado-educación .box-educacion-3 {
    margin-left: 1rem;
    width: 50%;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2 h2, .main-educacion .section-contenido-destacado-educación .box-educacion-2 p, .main-educacion .section-contenido-destacado-educación .box-educacion-2 .text-caida, .main-educacion .section-contenido-destacado-educación .box-educacion-2 .text-resaltado, .main-educacion .section-contenido-destacado-educación .box-educacion-3 h2, .main-educacion .section-contenido-destacado-educación .box-educacion-3 p, .main-educacion .section-contenido-destacado-educación .box-educacion-3 .text-caida, .main-educacion .section-contenido-destacado-educación .box-educacion-3 .text-resaltado {
    text-align: center;
    margin-left: 0;
    width: auto;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2 img, .main-educacion .section-contenido-destacado-educación .box-educacion-3 img {
    display: block;
    margin-left: 1rem;
    max-width: 50%;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-1, .main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-dialog-educacion-1 {
    max-width: 50%;
    margin-top: 20px;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-2, .main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-dialog-educacion-2 {
    max-width: 50%;
    margin-top: 20px;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-3, .main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-dialog-educacion-3 {
    max-width: 50%;
    margin-top: 20px;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-2 .box-dialog-educacion-4, .main-educacion .section-contenido-destacado-educación .box-educacion-3 .box-dialog-educacion-4 {
    max-width: 50%;
    margin-top: 20px;
  }
  .main-educacion .section-contenido-destacado-educación .box-porque-leer-1 {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-porque-leer-2 {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-porque-leer-3 {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-porque-leer-4 {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-porque-leer-5 {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-porque-leer-6 {
    width: 50%;
    margin-left: 1rem;
  }
  .main-educacion .section-contenido-destacado-educación .box-educacion-3 {
    grid-template-areas: "box-porque-leer-1" "box-porque-leer-2" "box-porque-leer-3" "box-porque-leer-4" "box-porque-leer-5" "box-porque-leer-6";
  }
  .main-educacion .section-contenido-destacado-educación .mini-avatar {
    width: 50%;
    margin-left: 1rem;
    position: relative;
  }
  .main-educacion .section-contenido-destacado-educación .box-tex-porque-leer {
    margin-left: 1rem;
    position: relative;
    width: 20rem;
    text-align: center;
  }
}
/* Media Querie mobile*/
/* Media quierie Header y footer */
@media (min-width: 320px) and (max-width: 768px) {
  header .container, nav .container {
    width: 100%;
    padding: 0;
  }
  .navbar-nav {
    margin-top: 0;
    text-align: center;
    min-width: 34rem !important;
    margin-right: -4rem;
  }
  .shakeUp {
    animation: shakeUp 1.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  .shakeDown {
    animation: shakeDown 1.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  .navbar-custom .navbar-collapse {
    background-image: linear-gradient(to right, #ffe69c, var(--bs-light));
    max-width: 103%;
    margin: 0;
  }
  .container-fluid {
    flex-direction: column;
    margin-top: 0rem;
  }
  /* Fondo del Navbar */
  .navbar-dark.bg-dark {
    background-color: #ffffff;
  }
  /* Personalización del Toggler */
  .navbar-toggler {
    border: none;
    background-color: transparent;
    animation: bounce 2s infinite;
    box-shadow: 1px 5px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .navbar-toggler .fas {
    transition: transform 0.3s ease-in-out; /* Suaviza la transición si usas rotación */
  }
  .navbar-toggler .fas, .navbar-toggler .navbar-toggler-icon {
    color: #01565a;
    font-size: 1rem;
  }
  .rotate {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out; /* Suaviza la transición */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-nav .nav-link {
    margin-left: -4rem;
  }
  .nav-link {
    transition: color 0.3s ease-in-out;
    margin: 0.5rem;
    margin-left: 1rem;
    background-color: #ffffff;
    border: 5px solid #ffe69c;
    border-radius: 10px;
    width: 12rem;
  }
  .navbar-scroll {
    height: 19rem;
  }
  .nav-link:hover, .nav-link:focus {
    color: #01565a;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0;
  }
  .logo-header {
    height: 10rem;
    margin-left: 1rem;
  }
  .navbar-scroll .logo-header {
    max-width: 9rem;
    height: auto;
  }
  footer {
    min-width: 20rem;
    margin-right: -6rem;
  }
  footer .footer-section .dialog-box-4 img {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
    width: 2.5rem;
    z-index: 1;
  }
}
/* Media querie fuentes*/
@media (min-width: 320px) and (max-width: 768px) {
  h2, h1, h3, p {
    font-family: sans-serif;
    line-height: 2rem;
    margin: 0.5rem;
  }
  h3 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.663);
  }
  p {
    font-size: 12px;
    margin-top: 1rem;
    padding: 0;
  }
  .p-dialog {
    font-size: 0.9rem;
    margin: 1rem;
    color: #8b8b8b;
  }
  /* Fuentes para géneros */
  .p-generos {
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0.4rem;
    text-align: left;
    color: rgb(139, 139, 139);
  }
}
/* Animaciones */
/* animación: "rebotar" */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
/* animación: se desliza desde la derecha hasta su ubicación final */
@keyframes slideInFromRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
/* animación: se desliza desde la izquierda hasta su ubicación final */
@keyframes slideInFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
/* animación: se "agitá" al activarse */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@keyframes shakeRight {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@keyframes shakeLeft {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-10px);
  }
}
@keyframes shakeUp {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(5px);
  }
}
@keyframes shakeDown {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(-5px);
  }
}
@keyframes caida {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
