@charset "UTF-8";
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos globles*/
/* Body homogéneo para todos los HTML */
body {
  font-family: "Roboto Slab", "Times New Roman";
  background-color: #ffffff;
}

/* Main homogéneo para todos los HTML */
main {
  background-color: #ffffff;
}

/* Fuentes para index/inicio */
p, h3, h2, h1 {
  font-family: sans-serif;
  line-height: 2rem;
  margin: 1rem;
  color: #8b8b8b;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.663);
}

p {
  font-size: 14px;
  margin-top: -2rem;
}

.p-dialog {
  font-size: 1rem;
  margin: 1rem;
  color: #8b8b8b;
}

/* Fuentes para géneros */
.p-generos {
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0.4rem;
  text-align: left;
  color: rgb(139, 139, 139);
}

/* Header homogéneo para todas las pages */
header {
  background-image: linear-gradient(to right, #ffe69c, var(--bs-light));
}

.container-fluid {
  flex-direction: column;
  margin-top: 1rem;
}

.logo-header {
  border-radius: 50%;
  box-shadow: 0px 4px 0px #01565a;
}
.navbar-brand .logo-header, .navbar-scroll .logo-header {
  max-height: 5rem;
}
.navbar-brand .logo-header {
  margin-top: 2rem;
}

/* Ajustes para el contenedor de la barra de navegación al hacer scroll */
.navbar-scroll {
  height: 12rem;
}
.navbar-scroll .logo-header {
  max-width: 5rem;
  height: auto;
}
.navbar-scroll .navbar-custom {
  margin-top: 4rem;
  padding: 0;
  height: 1rem;
}
.navbar-scroll .navbar-nav .nav-link {
  font-size: 0.8rem;
  transition: font-size 0.6s ease;
}

.navbar-collapse {
  margin-left: -4rem;
}

/* Ajustes para el contenedor de la barra */
.navbar-custom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  color: #8b8b8b;
  font-weight: 900;
  text-decoration: none;
  transition: font-size 0.6s ease;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

.navbar-brand .logo-header {
  max-height: 10rem;
  margin-top: 2rem;
  width: 10rem;
  transition: max-height 0.6s ease;
}

/* Footer homogéneo para todas los HTML */
footer {
  height: auto;
  background-color: #01565a;
}
footer h4 {
  margin: 0.5rem;
  font-size: 1.5rem;
  color: aliceblue;
}
footer img {
  width: 2.5rem;
  margin: 0.5rem;
  position: relative;
}
footer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: aliceblue;
  margin: 0.5rem;
}

/* Animaciones */
/* animación: "rebotar" */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
/* animación: se desliza desde la derecha hasta su ubicación final */
@keyframes slideInFromRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
/* animación: se desliza desde la izquierda hasta su ubicación final */
@keyframes slideInFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
/* animación: se "agitá" al activarse */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@keyframes shakeRight {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@keyframes shakeLeft {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-10px);
  }
}
@keyframes shakeUp {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(5px);
  }
}
@keyframes shakeDown {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(-5px);
  }
}
@keyframes caida {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* main: inicio/index */
.main-index {
  height: auto;
}
.main-index .encabezado {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 32rem;
  background-color: #ffffff;
  margin-top: 4rem;
}
.main-index .encabezado .dialog-box-1 {
  position: relative;
  top: 15rem;
  padding: 3rem;
  width: 30rem;
  margin-right: 44rem;
  text-align: center;
  animation: slideInFromLeft 1.3s ease-in-out forwards;
}
.main-index .encabezado .dialog-box-1 .img-inicio {
  width: 16rem;
  margin-left: 16rem;
  margin-top: -9rem;
}
.main-index .encabezado .dialog-box-1 .img-inicio-2 {
  width: 27rem;
  margin-top: -2rem;
}
.main-index .encabezado .dialog-box-2 {
  margin-top: 16rem;
  height: 25rem;
  width: 47rem;
  margin-left: -1rem;
  border: 0.5rem solid #ffe69c;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  animation: slideInFromRight 1.8s ease-in-out forwards;
  overflow: auto;
}
.main-index .section-contenido-destacado {
  display: grid;
  grid-template-areas: "dialog-box-5" "dialog-box-5" "dialog-juego" "dialog-box-aprendizaje " "dialog-box-aprendizaje" "dialog-box-3" "grid-item" "button-mas-historias";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
.main-index .section-contenido-destacado .dialog-box-3 {
  grid-area: dialog-box-3;
  margin-top: -40rem;
  margin-left: 36rem;
  max-width: 25rem;
  max-height: 4rem;
  height: 5rem;
  border: 0.3rem solid #01565a;
  background-color: #ffffff;
  z-index: 1;
}
.main-index .section-contenido-destacado .dialog-box-5 {
  grid-area: dialog-box-5;
  overflow: auto;
  margin-top: 35rem;
  margin-bottom: 1rem;
  margin-left: 49rem;
  background-color: rgb(255, 255, 255);
  border: 0.5rem solid #ffe69c;
  width: 45rem;
  height: 22rem;
}
.main-index .section-contenido-destacado .dialog-juego {
  grid-area: dialog-juego;
  background-color: #ffffff;
  border: 0.5rem solid #01565a;
  width: 31rem;
  height: 26rem;
  margin: -38rem 8rem 1rem;
  text-align: center;
}
.main-index .section-contenido-destacado .dialog-juego:hover {
  animation: shake 1.5s;
}
.main-index .section-contenido-destacado .dialog-juego .div-juego-1 {
  display: grid;
  gap: 0.8rem;
}
.main-index .section-contenido-destacado .dialog-juego .btn-juego {
  border: 0.2rem solid rgba(255, 230, 156, 0.7411764706);
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: 22rem;
  margin: 1rem;
  margin-left: 4rem;
}
.main-index .section-contenido-destacado .banner-1 img {
  max-width: 100%;
}
.main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje {
  grid-area: dialog-box-aprendizaje;
  background-color: #ffffff;
  max-width: 90%;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #01565a;
  max-width: 100%;
  height: 8rem;
  margin-top: -9rem;
}
.main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 p {
  margin-top: 1rem;
  text-align: center;
}
.main-index .section-contenido-destacado .button-mas-historias {
  grid-area: button-mas-historias;
  text-decoration: none;
  width: 15rem;
  background-color: aliceblue;
  border: 0.5rem solid #ffe69c;
  text-align: center;
  margin-left: 40rem;
  margin-top: 1rem;
}
.main-index .section-contenido-destacado .button-mas-historias a {
  text-decoration: none;
  color: #000;
}
.main-index .section-contenido-destacado .button-mas-historias:hover {
  opacity: 0.75;
}
.main-index .section-contenido-destacado .grid-item-container {
  display: grid;
  background-color: #ffe69c;
  width: 50rem;
  height: 30rem;
  margin-top: 15rem;
  margin-left: 24rem;
}
.main-index .section-contenido-destacado .grid-item-container .grid-item {
  background-color: #ffffff;
  display: grid;
  grid-area: grid-item;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img-cuento texto" "img-cuento texto";
  max-width: 100%;
  max-height: 100%;
  margin-top: -5rem;
  box-shadow: 4px 3px 12px 7px #01565a;
}
.main-index .section-contenido-destacado .grid-item-container .grid-item img {
  grid-area: img-cuento;
  max-width: 100%;
  height: 100%;
}
.main-index .section-contenido-destacado .modal .modal-dialog .modal-conten .modal-header {
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.main-index .section-contenido-destacado article {
  cursor: pointer;
}
.main-index .section-contenido-destacado .carousel {
  background-color: #ffe69c;
}
.main-index .section-contenido-destacado .carousel .carousel-control-next-icon,
.main-index .section-contenido-destacado .carousel .carousel-control-prev-icon {
  background-color: #01565a;
}
.main-index .section-contenido-destacado .carousel .carousel-inner {
  max-height: 56rem;
}
.main-index .section-contenido-destacado .iconos-grid-item {
  display: grid;
  grid-area: enlaces-lineas-div;
  width: 2rem;
  margin-left: 20rem;
  margin-top: -0.6rem;
  margin-bottom: -2.8rem;
}
.main-index .section-contenido-destacado .iconos-redes-item {
  width: 1rem;
  margin-right: 1rem;
}
.main-index .tabla-modal-body {
  background-color: #ffffff;
  box-shadow: 40px 2px 50px rgba(0, 0, 0, 0.2);
  width: 33rem;
  height: 15rem;
  border-radius: 0.8rem;
}
.main-index .modal-body {
  text-align: justify;
  line-height: 2rem;
  top: 1rem;
}
.main-index .btn-modal {
  border: 2px solid #01565a;
  border-radius: 10px;
  width: 6rem;
  background-color: white;
}

/* Main: géneros*/
.main-generos {
  margin-top: 8rem;
  height: 140rem;
}
.main-generos .section-contenido-destacado-generos {
  display: grid;
  grid-template-areas: "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-historia-generos box-historia-generos box-historia-generos-2" "box-encabezado-generos box-encabezado-generos box-encabezado-generos" "box-generos-1 box-generos-2 box-generos-2" "box-generos-3 box-generos-4 box-generos-4" "box-generos-5 box-generos-6 box-generos-6";
  gap: 6rem;
  margin-left: 4rem;
  height: auto;
}
.main-generos .section-contenido-destacado-generos .box-encabezado-generos {
  position: absolute;
  text-align: center;
  grid-area: box-encabezado-generos;
  background-color: #ffffff;
  border: 0.3rem solid #01565a;
  width: 29rem;
  margin-left: 30rem;
  margin-top: 85rem;
}
.main-generos .section-contenido-destacado-generos .box-card {
  background-color: transparent;
  width: 14.9rem;
  height: 20.75rem;
  margin-left: 15rem;
  perspective: 62.5rem;
}
.main-generos .section-contenido-destacado-generos .box-card:hover .box-generos-interior {
  transform: rotateY(180deg);
  cursor: pointer;
}
.main-generos .section-contenido-destacado-generos .box-card .img-generos {
  max-width: 13.9rem;
  margin-top: 1.9rem;
}
.main-generos .section-contenido-destacado-generos .box-generos-interior {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.main-generos .section-contenido-destacado-generos .box-generos-frente, .main-generos .section-contenido-destacado-generos .box-generos-dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.main-generos .section-contenido-destacado-generos .box-generos-dorso {
  background-color: #ffffff;
  transform: rotateY(180deg);
  border: 0.5rem solid #ffe69c;
}
.main-generos .section-contenido-destacado-generos .box-generos-dorso p {
  font-size: 0.8rem;
}
.main-generos .section-contenido-destacado-generos .box-generos-1 {
  grid-area: box-generos-1;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-2 {
  grid-area: box-generos-2;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-3 {
  grid-area: box-generos-3;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-4 {
  grid-area: box-generos-4;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-5 {
  grid-area: box-generos-5;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-generos-6 {
  grid-area: box-generos-6;
  background-color: #ffe69c;
  border: 0.5rem solid #01565a;
}
.main-generos .section-contenido-destacado-generos .box-historia-generos {
  position: relative;
  grid-area: box-historia-generos;
  background-color: #ffffff;
  width: 34rem;
  height: 17rem;
  margin-left: 7rem;
  margin-top: 17rem;
  border: 0.5rem solid #ffe69c;
}
.main-generos .section-contenido-destacado-generos .box-historia-generos-2 {
  position: absolute;
  grid-area: box-historia-generos-2;
  background-color: #ffffff;
  border: 0.5rem solid #01565a;
  width: 25rem;
  height: 16rem;
  margin-top: 17rem;
  margin-left: 56rem;
}
.main-generos .section-contenido-destacado-generos .avatar-tales-2 {
  width: 8rem;
  margin-left: 20.5rem;
  margin-top: -5rem;
}
.main-generos #menu-generos {
  display: none;
  transform: translateX(100%);
  transition: transform 1s ease;
  position: fixed;
  top: 16rem;
  margin-left: 30rem;
  height: 28rem;
  width: 30rem;
  background-color: #fff;
  border-left: 5px solid #01565a;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.main-generos #menu-generos nav {
  display: flex;
  flex-direction: column;
}
.main-generos #menu-generos nav a {
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
}
.main-generos #menu-generos nav a:hover {
  background-color: #ffe69c;
}
.main-generos #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

/* Main: nuestra-historia*/
.main-nuestra-historia {
  display: grid;
  grid-template-areas: "box-nuestra-historia box-nuestra-historia" "video-nuestra-historia video-nuestra-historia" "box-nuestra-historia-2 box-nuestra-historia-3";
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}
.main-nuestra-historia section {
  display: grid;
}
.main-nuestra-historia section .box-nuestra-historia {
  grid-area: box-nuestra-historia;
  border: 0.5rem solid #01565a;
  background-color: #ffffff;
  width: 43rem;
  height: 8rem;
  margin-top: 22rem;
  margin-left: 25rem;
}
.main-nuestra-historia section .video-nuestra-historia {
  grid-area: video-nuestra-historia;
  width: 40rem;
  border: 0.5rem solid #ffe69c;
  box-shadow: 0px 4px 10px 17px #ffe69c;
  margin-top: 38rem;
  margin-left: 5rem;
}
.main-nuestra-historia section .box-nuestra-historia-2 {
  grid-area: box-nuestra-historia-2;
  border: 0.5rem solid #ffe69c;
  background-color: #ffffff;
  width: 100%;
  height: 21rem;
  margin-top: 66rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  z-index: 1;
}
.main-nuestra-historia section .box-nuestra-historia-2 .img-libros {
  position: absolute;
  width: 10rem;
  height: auto;
  margin-top: 6rem;
  margin-left: 75rem;
  z-index: -1;
}
.main-nuestra-historia section .box-nuestra-historia-3 {
  grid-area: box-nuestra-historia-3;
  border: 0.5rem solid #ffe69c;
  width: 38rem;
  height: 15rem;
  margin-top: 37.5rem;
  margin-left: 50rem;
}

/* Main: educación */
.main-educacion {
  display: flex;
  justify-content: center;
  height: auto;
}
.main-educacion .section-contenido-destacado-educacion {
  display: grid;
  grid-template-areas: "encabezado-educacion" "box-educacion-2" "box-educacion-1" "box-educacion-3";
}
.main-educacion .section-contenido-destacado-educacion .encabezado-educacion {
  justify-items: center;
  grid-area: encabezado-educacion;
  margin-top: 4rem;
  border: 0.5rem solid #ffe69c;
}
.main-educacion .section-contenido-destacado-educacion .encabezado-educacion h2 {
  text-align: center;
  font-size: 2rem;
}
.main-educacion .section-contenido-destacado-educacion .encabezado-educacion .text-caida {
  display: inline-block;
  opacity: 0;
  animation: caida 0.5s forwards;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 {
  margin-top: 10rem;
  margin-left: 5rem;
  grid-area: box-educacion-2;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 {
  margin-top: 10rem;
  max-width: 45rem;
  height: 31rem;
  border: 0.3rem solid #01565a;
  box-shadow: -20px 20px 0px rgb(255, 230, 156);
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 p {
  text-align: start;
  width: 18rem;
  margin: 1.1rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 p, .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 p {
  text-align: left;
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 img {
  position: absolute;
  width: 28rem;
  height: 28rem;
  margin-top: -5rem;
  margin-left: 20rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 img {
  position: absolute;
  width: 28rem;
  height: 28rem;
  margin-top: -5rem;
  margin-left: 20rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 img {
  position: absolute;
  width: 28rem;
  height: 28rem;
  margin-top: -5rem;
  margin-left: 20rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 img {
  position: absolute;
  width: 28rem;
  height: 28rem;
  margin-top: -5rem;
  margin-left: 20rem;
  box-shadow: rgb(255, 230, 156) 0px 0px 20px 20px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 {
  display: grid;
  grid-area: box-educacion-3;
  background-color: #ffffff;
  border: 0.5rem solid #01565a;
  width: 51rem;
  height: 65rem;
  margin-top: 15rem;
  margin-bottom: 5rem;
  grid-template-areas: "box-tex-porque-leer box-tex-porque-leer" "box-porque-leer-1 box-porque-leer-2" "box-porque-leer-3 box-porque-leer-4" "box-porque-leer-5 box-porque-leer-6";
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 {
  display: grid;
  max-width: 23rem;
  max-height: 11rem;
  margin: 1rem;
  margin-top: 9rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-1;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 {
  display: grid;
  max-width: 23rem;
  max-height: 11rem;
  margin: 1rem;
  margin-top: 9rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-2;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 {
  display: grid;
  max-width: 23rem;
  max-height: 11rem;
  margin: 1rem;
  margin-top: 9rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-3;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 {
  display: grid;
  max-width: 23rem;
  max-height: 11rem;
  margin: 1rem;
  margin-top: 9rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-4;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 {
  display: grid;
  max-width: 23rem;
  max-height: 11rem;
  margin: 1rem;
  margin-top: 9rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-5;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 {
  display: grid;
  max-width: 23rem;
  max-height: 11rem;
  margin: 1rem;
  margin-top: 9rem;
  border: 0.3rem solid #ffe69c;
  grid-area: box-porque-leer-6;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 p {
  margin: 0.5rem;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6:hover {
  animation: shake 1s;
}
.main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-tex-porque-leer {
  margin-bottom: 5rem;
  position: absolute;
  text-align: center;
}

/*Main: suscribirse*/
.section-contenido-destacado-suscribirse {
  display: grid;
  grid-template-areas: "box-dialog-suscribirse" "box-dialog-suscribirse-2" "box-form";
  height: 100rem;
  justify-items: center;
}
.section-contenido-destacado-suscribirse .box-form {
  grid-area: box-form;
  border: 0.5rem solid #01565a;
  width: 50rem;
  height: auto;
  margin-top: 6rem;
}
.section-contenido-destacado-suscribirse .box-form button {
  border: 4px solid #ffe69c;
  border-radius: 10px;
  width: 6rem;
  background-color: white;
}
.section-contenido-destacado-suscribirse .box-dialog-suscribirse {
  grid-area: box-dialog-suscribirse;
  background-color: white;
  border: 0.5rem solid #ffe69c;
  width: 30rem;
  height: 5rem;
  margin-top: 24rem;
}
.section-contenido-destacado-suscribirse .box-dialog-suscribirse-2 {
  grid-area: box-dialog-suscribirse-2;
  background-color: white;
  border: 0.5rem solid #ffe69c;
  width: 40rem;
  margin-top: 1rem;
  height: auto;
}
.section-contenido-destacado-suscribirse .box-dialog-suscribirse-2 .text-resaltado {
  background-color: #ffe69c;
  text-decoration: underline;
  font-size: 18px;
}

form, label, input {
  margin: 0.5rem;
  text-align: center;
}

/*Main: acerca de*/
.main-acerca-de {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
}
.main-acerca-de .contenido-destacado-acerca-de {
  max-width: 20rem;
  margin-bottom: 5rem;
}
.main-acerca-de .contenido-destacado-acerca-de h1 {
  font-size: 1rem;
  text-align: center;
}
.main-acerca-de .contenido-destacado-acerca-de form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 0.5rem solid #01565a;
  width: 20rem;
  height: auto;
  margin-top: 6rem;
}
.main-acerca-de .contenido-destacado-acerca-de form label, .main-acerca-de .contenido-destacado-acerca-de form input, .main-acerca-de .contenido-destacado-acerca-de form textarea {
  width: 15rem;
  margin-left: 2rem;
}
.main-acerca-de .contenido-destacado-acerca-de form button {
  border: 4px solid #ffe69c;
  border-radius: 10px;
  width: 6rem;
  margin-left: 3rem;
  margin: 2rem;
  background-color: white;
}
.main-acerca-de .box-politicas-privacidad {
  border: 0.5rem solid #ffe69c;
  max-width: 80%;
  height: 60rem;
  margin-bottom: 5rem;
  margin-top: 24rem;
}
.main-acerca-de .box-politicas-privacidad h3 {
  line-height: 3rem;
}
.main-acerca-de .box-politicas-privacidad h1 {
  line-height: 4rem;
}

/* Media query index/inicio - Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
  body {
    width: 40rem;
  }
  body .main-index {
    max-width: 40rem;
    height: auto;
  }
  body .main-index .encabezado {
    grid-template-columns: 1fr;
    max-width: 100%;
    height: auto;
  }
  body .main-index .encabezado .dialog-box-1 {
    max-width: 100%;
    margin-left: 6rem;
  }
  body .main-index .encabezado .dialog-box-1 .img-inicio {
    width: 10rem;
    margin-top: 3rem;
    margin-left: -6rem;
  }
  body .main-index .encabezado .dialog-box-1 .img-inicio-2 {
    width: 20rem;
    margin-top: -10rem;
    margin-left: -7rem;
  }
  body .main-index .encabezado .dialog-box-2 {
    max-width: 40rem !important;
    height: auto;
    margin-top: 15rem;
    margin-left: -1rem;
  }
  body .main-index .section-contenido-destacado {
    grid-template-areas: "dialog-box-5" "dialog-juego" "dialog-box-aprendizaje" "dialog-box-3" "grid-item" "grid-container" "button-mas-historias";
    grid-template-columns: 1fr;
    min-width: 40rem;
  }
  body .main-index .section-contenido-destacado .carousel {
    max-width: 100%;
    margin-top: 19rem;
  }
  body .main-index .section-contenido-destacado .banner-1 {
    max-width: 100%;
  }
  body .main-index .section-contenido-destacado .banner-1 img {
    max-width: 100%;
  }
  body .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje {
    margin-top: 4rem;
    margin-bottom: -13rem;
    margin-left: 0rem;
    max-width: 100%;
  }
  body .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 {
    height: 6rem;
  }
  body .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje p {
    font-size: 0.6rem;
  }
  body .main-index .section-contenido-destacado .dialog-box-3 {
    max-width: 19rem;
    text-align: end;
    margin-top: 17rem;
    margin-bottom: -17rem;
    margin-left: 10rem;
  }
  body .main-index .section-contenido-destacado .dialog-box-3 h3 {
    font-size: 0.8rem;
  }
  body .main-index .section-contenido-destacado .dialog-box-5 {
    max-width: 40rem;
    margin: 0rem;
  }
  body .main-index .section-contenido-destacado .dialog-juego {
    max-width: 20rem;
    margin-top: 1rem;
    margin-left: 10rem;
  }
  body .main-index .section-contenido-destacado .dialog-juego .div-juego-1 {
    max-width: 100%;
  }
  body .main-index .section-contenido-destacado .dialog-juego .div-juego-1 .respuesta {
    max-width: 12rem;
  }
  body .main-index .section-contenido-destacado .div-dato-curioso-1 {
    min-width: 20rem;
    height: 6rem;
    margin-top: 1rem;
    text-align: end;
  }
  body .main-index .section-contenido-destacado .button-mas-historias {
    margin-top: 1rem;
    margin-left: 12rem;
  }
  body .main-index .section-contenido-destacado .grid-item-container {
    max-width: 16rem;
    max-height: 11rem;
    margin-top: 14rem;
  }
  body .main-index .section-contenido-destacado .grid-item-container .grid-item {
    grid-template-columns: 60% 40%;
    max-width: 100%;
    max-height: 12rem;
    margin-left: -12rem;
    margin-top: -10rem;
  }
  body .main-index .section-contenido-destacado .grid-item-container .grid-item img {
    float: left;
    max-width: 90%;
    height: 12rem;
    margin-top: 0rem;
  }
  body .main-index .section-contenido-destacado .grid-item-container .grid-item p {
    font-size: 0.5rem;
    margin: 0.2rem;
    line-height: 0.7rem;
  }
  body .main-index .section-contenido-destacado .grid-item-container .grid-item h3 {
    line-height: 0.7rem;
    margin: 0.2rem;
    font-size: 0.5rem;
    margin-bottom: -5rem;
  }
}
/* Media query index/inicio - Tablet*/
@media (min-width: 769px) and (max-width: 1280px) {
  .main-index {
    min-width: 48.0625rem;
    height: auto;
  }
  .main-index .encabezado {
    grid-template-columns: 1fr;
    max-width: 20rem;
    max-height: 25rem;
  }
  .main-index .encabezado .dialog-box-1 {
    max-width: 18rem;
    margin-left: -6rem;
  }
  .main-index .encabezado .dialog-box-1 .img-inicio {
    position: absolute;
    width: 10rem;
    margin-top: -6rem;
  }
  .main-index .encabezado .dialog-box-1 .img-inicio-2 {
    width: 20rem;
  }
  .main-index .encabezado .dialog-box-2 {
    max-width: 28rem;
    max-height: 20rem;
    margin-top: -3rem;
    margin-right: 1rem;
  }
  .main-index .section-contenido-destacado {
    grid-template-areas: "dialog-box-5" "dialog-juego" "dialog-box-aprendizaje" "dialog-box-3" "grid-item" "grid-container" "button-mas-historias";
    grid-template-columns: 1fr;
  }
  .main-index .section-contenido-destacado .carousel {
    max-width: 100%;
    margin-top: 19rem;
  }
  .main-index .section-contenido-destacado .banner-1 {
    max-width: 100%;
  }
  .main-index .section-contenido-destacado .banner-1 img {
    max-width: 100%;
  }
  .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje {
    margin-top: 4rem;
    margin-bottom: -13rem;
    margin-left: 15rem;
    max-width: 20rem;
  }
  .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje .div-dato-curioso-1 {
    height: 10rem;
  }
  .main-index .section-contenido-destacado .banner-1 .dialog-box-aprendizaje p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .main-index .section-contenido-destacado .dialog-box-3 {
    max-width: 19rem;
    text-align: end;
    margin-top: 17rem;
    margin-bottom: -17rem;
    margin-left: 16rem;
  }
  .main-index .section-contenido-destacado .dialog-box-3 h3 {
    font-size: 0.8rem;
  }
  .main-index .section-contenido-destacado .dialog-box-5 {
    max-width: 40rem;
    margin-left: 4rem;
    margin-top: 13rem;
  }
  .main-index .section-contenido-destacado .dialog-juego {
    max-width: 20rem;
    margin-top: 1rem;
    margin-left: 13rem;
  }
  .main-index .section-contenido-destacado .dialog-juego .div-juego-1 {
    max-width: 20rem;
  }
  .main-index .section-contenido-destacado .dialog-juego .div-juego-1 .respuesta {
    max-width: 12rem;
  }
  .main-index .section-contenido-destacado .div-dato-curioso-1 {
    min-width: 20rem;
    margin-top: 1rem;
    text-align: end;
  }
  .main-index .section-contenido-destacado .button-mas-historias {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 17.5rem;
  }
  .main-index .section-contenido-destacado .grid-item-container {
    max-width: 16rem;
    max-height: 11rem;
    margin-top: 14rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item {
    grid-template-columns: 60% 40%;
    max-width: 30rem;
    max-height: 15.2rem;
    margin-left: -15rem;
    margin-top: -10rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item img {
    float: left;
    max-width: 90%;
    height: 15.2rem;
    margin-top: 0rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item p {
    font-size: 0.8rem;
    margin: 1rem;
    line-height: 1.5rem;
  }
  .main-index .section-contenido-destacado .grid-item-container .grid-item h3 {
    line-height: 1rem;
    margin: 1rem;
  }
}
/*Media query géneros - Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
  body {
    width: 40rem;
  }
  body .main-generos {
    max-width: 40rem;
    margin-left: -1rem;
    margin-top: -66rem;
    height: 230rem;
  }
  body .main-generos .section-contenido-destacado-generos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "box-historia-generos-2" "box-historia-generos-2" "box-historia-generos" "box-historia-generos" "box-encabezado-generos" "box-generos-1" "box-generos-2" "box-generos-3" "box-generos-4" "box-generos-5" "box-generos-6";
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 0rem;
    height: auto;
    margin-top: 80rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-encabezado-generos {
    margin-left: 10rem;
    max-width: 100%;
    margin-top: 60rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-encabezado-generos h2 {
    font-size: 1rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-card {
    margin-bottom: -36rem;
    margin-left: 13rem;
    margin-top: 41rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-card .img-generos {
    margin-top: 1.9rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-historia-generos {
    width: 100%;
    margin-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 8rem;
    height: 16rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-historia-generos h2 {
    font-size: 1rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-historia-generos p {
    font-size: 0.8rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-historia-generos-2 {
    max-width: 100%;
    margin-left: 10rem;
    margin-top: 25rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-historia-generos-2 .avatar-tales-2 {
    width: 8rem;
    margin-left: 15rem;
    margin-top: -5rem;
  }
  body .main-generos .section-contenido-destacado-generos .box-historia-generos-2 p {
    font-size: 0.8rem;
  }
  body .main-generos #menu-generos {
    margin-left: 3rem;
    max-width: 20rem;
  }
}
/*Media query géneros - Tablet*/
@media (min-width: 769px) and (max-width: 1280px) {
  .main-generos {
    min-width: 48.0625rem;
    margin-right: 0rem;
    height: 130rem;
  }
  .main-generos .section-contenido-destacado-generos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "box-historia-generos box-historia-generos-2" "box-encabezado-generos box-encabezado-generos" "box-generos-1 box-generos-2" "box-generos-3 box-generos-4" "box-generos-5 box-generos-6";
    gap: 6rem;
    min-width: 20rem;
    margin: 0 auto;
    margin-left: 0rem;
    height: auto;
  }
  .main-generos .section-contenido-destacado-generos .box-encabezado-generos {
    margin-left: 10rem;
    margin-top: 42rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos {
    max-width: 50%;
    margin-left: 1rem;
    margin-top: 15rem;
    height: 25rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos h2 {
    font-size: 1rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos p {
    font-size: 0.8rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos-2 {
    max-width: 50%;
    margin-left: 19rem;
    margin-top: 15rem;
  }
  .main-generos .section-contenido-destacado-generos .box-historia-generos-2 p {
    font-size: 0.8rem;
  }
  .main-generos .section-contenido-destacado-generos .avatar-tales-2 {
    width: 8rem;
    margin-left: 20rem;
    margin-top: -5rem;
  }
  .main-generos .section-contenido-destacado-generos .box-card {
    margin-bottom: -36rem;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
    margin-top: -4rem;
  }
  .main-generos .section-contenido-destacado-generos .box-card .img-generos {
    margin-top: 1.9rem;
  }
  .main-generos #menu-generos {
    margin-left: 3rem;
    max-width: 20rem;
  }
}
/* Media query Nuestra Historia - Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
  body {
    width: 40rem;
  }
  body .main-nuestra-historia {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: "box-nuestra-historia" "video-nuestra-historia" "box-nuestra-historia-2" "box-nuestra-historia-3";
  }
  body .main-nuestra-historia section {
    max-width: 40rem;
  }
  body .main-nuestra-historia section .box-nuestra-historia {
    max-width: 90%;
    margin-left: 0.5rem;
  }
  body .main-nuestra-historia section .box-nuestra-historia h1 {
    font-size: 1rem;
    text-align: center;
  }
  body .main-nuestra-historia section .video-nuestra-historia {
    margin-left: 0.5rem;
    max-width: 90%;
    margin-top: 32rem;
  }
  body .main-nuestra-historia section .box-nuestra-historia-2 {
    max-width: 90%;
    margin-left: 0.5rem;
    margin-top: 82rem;
    height: 30rem;
  }
  body .main-nuestra-historia section .box-nuestra-historia-2 .img-libros {
    margin-left: 28rem;
    margin-top: 15.5rem;
  }
  body .main-nuestra-historia section .box-nuestra-historia-3 {
    max-width: 90%;
    height: 15rem;
    margin-left: 0.5rem;
    margin-top: 60rem;
  }
  body .main-nuestra-historia section .box-nuestra-historia-3 p {
    font-size: 0.8rem;
  }
}
/* Media query - Tablet*/
@media (min-width: 769px) and (max-width: 1280px) {
  .main-nuestra-historia {
    height: 130rem;
    min-width: 48.0625rem;
    display: grid;
    grid-template-areas: "box-nuestra-historia" "video-nuestra-historia" "box-nuestra-historia-2" "box-nuestra-historia-3";
    justify-items: center;
  }
  .main-nuestra-historia section {
    width: 40.0625rem;
  }
  .main-nuestra-historia section .box-nuestra-historia {
    margin-top: 28rem;
    width: 40.0625rem;
    margin-left: 4rem;
  }
  .main-nuestra-historia section .box-nuestra-historia h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  .main-nuestra-historia section .video-nuestra-historia {
    margin-left: 2rem;
    width: 100%;
  }
  .main-nuestra-historia section .box-nuestra-historia-2 {
    width: 100%;
    margin-left: 2rem;
    margin-top: 88rem;
    height: 28rem;
  }
  .main-nuestra-historia section .box-nuestra-historia-2 .img-libros {
    margin-left: 33rem;
    margin-top: 13rem;
  }
  .main-nuestra-historia section .box-nuestra-historia-3 {
    margin-left: 2rem;
    width: 100%;
    height: 15rem;
    margin-top: 70rem;
  }
}
/* Media Query Educación - Mobile */
@media (min-width: 320px) and (max-width: 768px) {
  body .main-educacion {
    max-width: 100%;
    height: auto;
  }
  body .main-educacion .section-contenido-destacado-educacion {
    margin-top: 15rem;
    max-width: 100%;
  }
  body .main-educacion .section-contenido-destacado-educacion .encabezado-educacion {
    max-width: 100%;
    margin-left: 0.5rem;
    height: 4rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .encabezado-educacion h2 {
    font-size: 0.8rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 {
    max-width: 100%;
    margin-left: 8rem;
    margin-top: 0rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 {
    max-width: 20rem;
    margin-left: 0.5rem;
    height: auto;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 img {
    position: relative;
    float: right;
    max-width: 10rem;
    max-height: 10rem;
    margin: -3rem 1.4rem 10px 0rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 p {
    font-size: 0.5rem;
    margin: 5px;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 {
    max-width: 20rem;
    margin-left: 0.5rem;
    height: auto;
    box-shadow: 20px -20px 0px rgb(255, 230, 156);
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 img {
    position: relative;
    float: left;
    max-width: 10rem;
    max-height: 10rem;
    margin: -3rem 1rem 8px 1rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 p {
    font-size: 0.5rem;
    margin: 5px;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 {
    max-width: 20rem;
    margin-left: 0.5rem;
    height: auto;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 img {
    position: relative;
    float: right;
    max-width: 10rem;
    max-height: 10rem;
    margin: -3rem 1rem 3px -2rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 p {
    font-size: 0.5rem;
    margin: 5px;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 {
    max-width: 20rem;
    margin-left: 0.5rem;
    height: auto;
    box-shadow: 20px -20px 0px rgb(255, 230, 156);
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 img {
    position: relative;
    float: left;
    max-width: 10rem;
    max-height: 10rem;
    margin: -3rem 1.6rem 1rem 1rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 p {
    font-size: 0.5rem;
    margin: 5px;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 {
    max-width: 20rem;
    margin-left: 8.5rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    height: 64rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 p {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-tex-porque-leer {
    width: 100%;
    max-width: 20rem;
    height: 5rem;
    margin-top: -1rem;
    margin-left: 0rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-tex-porque-leer h3, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-tex-porque-leer h2 {
    font-size: 0.7rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 {
    max-width: 10rem;
    height: 25rem;
    margin-left: 0rem;
    margin: 0.5rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 p, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 .text-resaltado {
    font-size: 0.59rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 {
    max-width: 10rem;
    height: 20rem;
    margin-left: 0rem;
    margin: 0.5rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 p, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 .text-resaltado {
    font-size: 0.59rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 {
    max-width: 10rem;
    height: 20rem;
    margin-left: 0rem;
    margin: 0.5rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 p, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 .text-resaltado {
    font-size: 0.59rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 {
    max-width: 10rem;
    height: 20rem;
    margin: 0.5rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 p, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 .text-resaltado {
    font-size: 0.59rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 {
    max-width: 10rem;
    height: 20rem;
    margin-left: 0rem;
    line-height: 1rem;
    margin: 0.5rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 p, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 .text-resaltado {
    font-size: 0.59rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 {
    max-width: 10rem;
    height: 20rem;
    margin-left: 0rem;
    margin: 0.5rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 p, body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 .text-resaltado {
    font-size: 0.59rem;
  }
  body .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .mini-avatar {
    display: none;
  }
}
/* Media Query Educación - Tablet*/
@media (min-width: 769px) and (max-width: 1280px) {
  .main-educacion {
    min-width: 48.0625rem;
    height: auto;
  }
  .main-educacion .section-contenido-destacado-educacion {
    margin-top: 15rem;
    max-width: 20rem;
  }
  .main-educacion .section-contenido-destacado-educacion .encabezado-educacion {
    max-width: 60%;
    margin: 14rem 0rem -13rem 0rem;
    height: 4rem;
  }
  .main-educacion .section-contenido-destacado-educacion .encabezado-educacion h2 {
    font-size: 0.8rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 {
    min-width: 48.0625rem;
    margin-left: -18rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 {
    max-width: 46.0625;
    margin-left: 5rem;
    height: auto;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 img {
    position: relative;
    float: right;
    max-width: 20rem;
    max-height: 20rem;
    margin: -3rem -27rem 10px 0rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-1 p {
    margin: 5px;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 {
    max-width: 46.0625rem;
    margin-left: 5rem;
    height: 25rem;
    box-shadow: 20px -20px 0px rgb(255, 230, 156);
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 img {
    position: relative;
    float: left;
    max-width: 20rem;
    max-height: 20rem;
    margin: 8rem 1rem 0rem -2rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-2 p {
    margin: 5px;
    text-align: right;
    width: 90%;
    margin-left: 3rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 {
    max-width: 46.0625rem;
    margin-left: 5rem;
    height: 25rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 img {
    position: relative;
    float: right;
    max-width: 20rem;
    max-height: 20rem;
    margin: -3rem -26rem 10px 0rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-3 p {
    margin: 5px;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 {
    max-width: 46.0625rem;
    margin-left: 5rem;
    height: 25rem;
    box-shadow: 20px -20px 0px rgb(255, 230, 156);
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 img {
    position: relative;
    float: left;
    max-width: 20rem;
    max-height: 20rem;
    margin: 10rem -27rem 0rem -1rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-2 .box-dialog-educacion-4 p {
    margin: 5px;
    text-align: right;
    width: 90%;
    margin-left: 3rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 {
    max-width: 46.0625rem;
    margin-left: -13rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 65rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 p {
    line-height: 1rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-tex-porque-leer {
    max-width: 34rem;
    margin-left: 6rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-1 {
    max-width: 20rem;
    height: 15rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-2 {
    max-width: 18rem;
    height: 15rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-3 {
    max-width: 18rem;
    height: 15rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-4 {
    max-width: 18rem;
    height: 15rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-5 {
    max-width: 18rem;
    height: 15rem;
    line-height: 1rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .box-porque-leer-6 {
    max-width: 18rem;
    height: 15rem;
  }
  .main-educacion .section-contenido-destacado-educacion .box-educacion-3 .mini-avatar {
    display: none;
  }
}
/* Media Query Suscribirse - Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
  body .main-suscribirse {
    max-width: 100%;
    margin-left: 0rem;
    height: auto;
  }
  body .main-suscribirse .section-contenido-destacado-suscribirse {
    flex-wrap: wrap;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-left: 0rem;
  }
  body .main-suscribirse .section-contenido-destacado-suscribirse .box-dialog-suscribirse {
    justify-items: center;
    max-width: 100%;
    height: auto;
  }
  body .main-suscribirse .section-contenido-destacado-suscribirse .box-form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 0.5rem solid #01565a;
    width: 20rem;
    height: auto;
    margin-top: 6rem;
  }
  body .main-suscribirse .section-contenido-destacado-suscribirse .box-dialog-suscribirse-2 {
    justify-items: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 10rem;
  }
}
/* Media Query Suscribirse - Tablet*/
@media (min-width: 769px) and (max-width: 1280px) {
  .main-suscribirse {
    min-width: 40.0625;
    height: auto;
  }
  .main-suscribirse .section-contenido-destacado-suscribirse {
    flex-wrap: wrap;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-left: 0rem;
  }
  .main-suscribirse .section-contenido-destacado-suscribirse .box-dialog-suscribirse {
    justify-items: center;
    min-width: 20rem;
    height: auto;
  }
  .main-suscribirse .section-contenido-destacado-suscribirse .box-form {
    justify-items: center;
    height: auto;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  .main-suscribirse .section-contenido-destacado-suscribirse .box-dialog-suscribirse-2 {
    justify-items: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 10rem;
  }
}
/* Media Querie mobile*/
/* Media quierie Header y footer */
@media (min-width: 320px) and (max-width: 768px) {
  header .container, nav .container {
    max-width: 100%;
    padding: 0;
  }
  .navbar-nav {
    margin-top: 0;
    text-align: center;
    max-width: 20rem;
    margin: 0rem;
  }
  .shakeUp {
    animation: shakeUp 1.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  .shakeDown {
    animation: shakeDown 1.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  .navbar-custom .navbar-collapse {
    background-image: linear-gradient(to right, rgba(255, 230, 156, 0.2117647059), var(--bs-light));
    max-width: 20rem;
    margin: 0;
  }
  .container-fluid {
    flex-direction: column;
    margin-top: 0rem;
  }
  /* Fondo del Navbar */
  .navbar-dark.bg-dark {
    background-color: #ffffff;
  }
  /* Personalización del Toggler */
  .navbar-toggler {
    border: none;
    background-color: transparent;
    animation: bounce 2s infinite;
    box-shadow: 1px 5px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .navbar-toggler .fas {
    transition: transform 0.3s ease-in-out; /* Suaviza la transición si usas rotación */
  }
  .navbar-toggler .fas, .navbar-toggler .navbar-toggler-icon {
    color: #01565a;
    font-size: 1rem;
  }
  .rotate {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out; /* Suaviza la transición */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-nav .nav-link {
    margin: 0.5rem;
  }
  .nav-link {
    transition: color 0.3s ease-in-out;
    margin: 0.5rem;
    margin-left: 0rem;
    background-color: #ffffff;
    border: 5px solid #ffe69c;
    border-radius: 10px;
    width: 12rem;
  }
  .navbar-scroll {
    height: 19rem;
  }
  .nav-link:hover, .nav-link:focus {
    color: #01565a;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0;
  }
  .logo-header {
    height: 10rem;
    margin-left: 1rem;
  }
  .navbar-scroll .logo-header {
    max-width: 9rem;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  footer img {
    position: relative;
    margin-top: 1rem;
    margin-right: 1rem;
    height: auto;
    width: 2rem;
    z-index: 1;
  }
  footer .dialog-box-4 {
    max-width: 100%;
  }
  footer .footer-item {
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  footer {
    min-width: 40.0625rem;
  }
}

/*# sourceMappingURL=style.css.map */
