@import "utilities/reset";
@import "utilities/globals";
@import "components/header";
@import "components/footer";
@import "utilities/keyframes";


@import "pages/main-index";
@import "pages/main-generos";
@import "pages/main-nuestra-historia";
@import "pages/main-educacion";
@import "pages/main-suscribirse";
@import "pages/main-acerca-de";

@import "utilities/media-query-index";
@import "utilities/media-query-generos";
@import "utilities/media-query-nuestra-historia";
@import "utilities/media-query-educacion";
@import "utilities/media-query-suscribirse";



/* Media Querie mobile*/
/* Media quierie Header y footer */
@media (min-width: 320px) and (max-width: 768px){
    header .container, nav .container {
        max-width: 100%;
        padding: 0;
    }

    .navbar-nav {
        margin-top: 0;
        text-align: center;
        max-width: 20rem;
        margin: 0rem;

    }
    .shakeUp {
        animation: shakeUp 1.8s cubic-bezier(.36,.07,.19,.97) both;
    }

    .shakeDown {
        animation: shakeDown 1.6s cubic-bezier(.36,.07,.19,.97) both;
    }
    .navbar-custom .navbar-collapse {
        background-image: linear-gradient(to right, #ffe69c36, var(--bs-light));
        max-width: 20rem;
        margin: 0;
    }
    .container-fluid {
        flex-direction: column;
        margin-top: 0rem;
    }
    /* Fondo del Navbar */
    .navbar-dark.bg-dark {
        background-color: #ffffff;
    }

    /* Personalización del Toggler */
    .navbar-toggler {
        border: none;
        background-color: transparent;
        animation: bounce 2s infinite;
        box-shadow: 1px 5px 0px 0px rgba(0, 0, 0, 0.2);
    }
    .navbar-toggler .fas {
        transition: transform 0.3s ease-in-out; /* Suaviza la transición si usas rotación */
    }


    .navbar-toggler .fas, .navbar-toggler .navbar-toggler-icon {
        color: #01565a;
        font-size: 1rem;
    }
    .rotate {
        transform: rotate(-180deg);
        transition: transform 0.3s ease-in-out; /* Suaviza la transición */
    }


    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-nav .nav-link{
        margin: 0.5rem;
    }
    .nav-link {
        transition: color 0.3s ease-in-out;
        margin: 0.5rem;
        margin-left: 0rem;
        background-color: #ffffff;
        border: 5px solid #ffe69c;
        border-radius: 10px;
        width: 12rem;
    }
    .navbar-scroll{
        height: 19rem;
    }
    .nav-link:hover, .nav-link:focus {
        color: #01565a;
    }
    .navbar-toggler:focus {
        box-shadow: 0 0 0;
        
    }
    .logo-header {
        height: 10rem;
        margin-left: 1rem;
    }
    .navbar-scroll {        
        .logo-header{
            max-width: 9rem;
            height: auto;
        }
    }
}
@media (min-width: 320px) and (max-width: 768px){
    footer{
        img {
        position: relative;
        margin-top: 1rem;
        margin-right: 1rem;
        height: auto;
        width: 2rem;
        z-index: 1;
        }
        .dialog-box-4{
            max-width: 100%;
        }
        .footer-item{
            max-width: 100%;
        }  
    }
}
@media (min-width: 769px) and (max-width: 1280px){
    footer{
        min-width: 40.0625rem;
    }
}


