@import "utilities/reset";
@import "utilities/globals";
@import "components/header";
@import "components/footer";


@import "pages/main-index";
@import "pages/main-generos";
@import "pages/main-nuestra-historia";
@import "pages/main-educacion";
@import "pages/main-suscribirse";


@import "utilities/media-query-index";
@import "utilities/media-query-generos";
@import "utilities/media-query-nuestra-historia";
@import "utilities/media-query-educacion";

/* Media Querie mobile*/
/* Media quierie Header y footer */
@media (min-width: 320px) and (max-width: 768px){
    header .container, nav .container {
        width: 100%;
        padding: 0;
    }

    .navbar-nav {
        margin-top: 0;
        text-align: center;
        min-width: 34rem !important;
        margin-right: -4rem;

    }
    .shakeUp {
        animation: shakeUp 1.8s cubic-bezier(.36,.07,.19,.97) both;
    }

    .shakeDown {
        animation: shakeDown 1.6s cubic-bezier(.36,.07,.19,.97) both;
    }
    .navbar-custom .navbar-collapse {
        background-image: linear-gradient(to right, #ffe69c, var(--bs-light));
        max-width: 103%;
        margin: 0;
    }
    .container-fluid {
        flex-direction: column;
        margin-top: 0rem;
    }
    /* Fondo del Navbar */
    .navbar-dark.bg-dark {
        background-color: #ffffff;
    }

    /* Personalización del Toggler */
    .navbar-toggler {
        border: none;
        background-color: transparent;
        animation: bounce 2s infinite;
        box-shadow: 1px 5px 0px 0px rgba(0, 0, 0, 0.2);
    }
    .navbar-toggler .fas {
        transition: transform 0.3s ease-in-out; /* Suaviza la transición si usas rotación */
    }


    .navbar-toggler .fas, .navbar-toggler .navbar-toggler-icon {
        color: #01565a;
        font-size: 1rem;
    }
    .rotate {
        transform: rotate(-180deg);
        transition: transform 0.3s ease-in-out; /* Suaviza la transición */
    }


    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-nav .nav-link{
        margin-left: -4rem;
    }
    .nav-link {
        transition: color 0.3s ease-in-out;
        margin: 0.5rem;
        margin-left: 1rem;
        background-color: #ffffff;
        border: 5px solid #ffe69c;
        border-radius: 10px;
        width: 12rem;
    }
    .navbar-scroll{
        height: 19rem;
    }
    .nav-link:hover, .nav-link:focus {
        color: #01565a;
    }
    .navbar-toggler:focus {
        box-shadow: 0 0 0;
        
    }
    .logo-header {
        height: 10rem;
        margin-left: 1rem;
    }
    .navbar-scroll {        
        .logo-header{
            max-width: 9rem;
            height: auto;
        }
    }
    footer{
        min-width: 20rem;
        margin-right: -6rem;
        .footer-section .dialog-box-4 img {
            position: relative;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            height: auto;
            width: 2.5rem;
            z-index: 1;
        }
    }
}
/* Media querie fuentes*/
@media (min-width: 320px) and (max-width: 768px){
    
    %custom-font-index {
    font-family: sans-serif;
    line-height: 2rem;
    margin: 0.5rem;
    }

    h2{
        @extend %custom-font-index;
    }

    h3 {
    @extend %custom-font-index;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.663)
    }

    p {
    @extend %custom-font-index;
    font-size: 12px;
    margin-top: 1rem;
    padding: 0;
    }

    %custom-font-dialog{
        font-size: 0.9rem;
        margin: 1rem;
        color: #8b8b8b;
    }

    .p-dialog {
        @extend %custom-font-dialog;
    }

    /* Fuentes para géneros */

    %custom-font-generos {
        font-size: 16px;
        line-height: 1.5rem;
        margin: 0.4rem;
        text-align: left;
        color: rgb(139, 139, 139);
    }

    .p-generos{
    @extend %custom-font-generos;
    }


}
@import "utilities/keyframes";