@import "utilities/reset";
@import "utilities/globals";
@import "components/header";
@import "components/footer";


@import "pages/main-index";
@import "pages/main-generos";
@import "pages/main-nuestra-historia";
@import "pages/main-educacion";
@import "pages/main-suscribirse";


@import "utilities/media-query-index";
@import "utilities/media-query-generos";

/* Media Querie mobile*/
/* Media quierie Header y footer */
@media (min-width: 320px) and (max-width: 768px){
    header .container, nav .container {
        width: 100%; /* Ajusta el contenedor al 100% del ancho */
        padding: 0; /* Elimina el padding si es necesario */
    }

    .navbar-nav {
        margin-top: 0; /* Ajusta según sea necesario para la vista móvil */
    }

    .navbar-custom .navbar-collapse {
        background-image: linear-gradient(to right, #ffe69c, var(--bs-light));
    }

    /* Fondo del Navbar */
    .navbar-dark.bg-dark {
        background-color: #ffffff !important; /* Fondo casi negro */
    }

    /* Personalización del Toggler */
    .navbar-toggler {
        border-color: #01565a;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    /* Animaciones para los links del menú */
    .nav-link {
        transition: color 0.3s ease-in-out;
    }
    .nav-link:hover, .nav-link:focus {
        color: #01565a;
    }


    .logo-header {
        height: 40px; /* Ajusta el tamaño del logo para dispositivos móviles */
        width: auto;
    }
    footer{
        min-width: 20rem;
        margin-right: -6rem;
    }
}
/* Media querie fuentes*/
@media (min-width: 320px) and (max-width: 768px){
    
    %custom-font-index {
    font-family: sans-serif;
    line-height: 1rem;
    margin: 0.5rem;
    }

    h2{
        @extend %custom-font-index;
    }

    h3 {
    @extend %custom-font-index;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.663)
    }

    p {
    @extend %custom-font-index;
    font-size: 12px;
    margin-top: 1rem;
    padding: 0;
    margin-left: 9rem;
    }

    %custom-font-dialog{
        font-size: 1rem;
        margin: 1rem;
        color: #8b8b8b;
    }

    .p-dialog {
        @extend %custom-font-dialog;
    }

    /* Fuentes para géneros */

    %custom-font-generos {
        font-size: 16px;
        line-height: 1.5rem;
        margin: 0.4rem;
        text-align: left;
        color: rgb(139, 139, 139);
    }

    .p-generos{
    @extend %custom-font-generos;
    }


}
@import "utilities/keyframes";