/*Main - suscribirse*/
.section-contenido-destacado-suscribirse {
    height: 80rem;
  .box-form {
    border: 0.5rem solid #01565a;
    width: 50rem;
    height: 14rem;
    margin-left: 15rem;
    margin-top: 39rem;
  }
  .box-dialog-suscribirse{
    background-color: white;
    border: 0.5rem solid #ffe69c;
    width: 30rem;
    margin-left: 25rem;
  }
  .box-dialog-suscribirse-2{
    background-color: white;
    border: 0.5rem solid #ffe69c;
    width: 40rem;
    margin-top: -50rem;
    margin-left: 20rem;
  }
}

form, label, input {
  margin: 0.5rem;
  text-align: center;
}
