.section-contenido-destacado-generos {
  display: grid;
  grid-template-areas:
    'box-generos-1 box-generos-2 box-historia-generos'
    'box-generos-3 box-generos-4 box-historia-generos'
    'box-generos-5 box-generos-6 box-historia-generos'
    'box-historia-generos-2 box-historia-generos-2 box-historia-generos-2';
  gap: 1rem;
  width: 100%;
  margin-left: 4rem;

  .box-card {
    background-color: transparent;
    width: 14.9rem;
    height: 20.75rem;
    perspective: 62.5rem;

    &:hover .box-generos-interior {
      transform: rotateY(180deg);
      cursor: pointer;
    }
  }

  .box-generos-interior {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .box-generos-frente, .box-generos-dorso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .box-generos-dorso {
    background-color: #ffffff;
    transform: rotateY(180deg);
    border: 0.5rem solid #ffe69c;
  }

  @for $i from 1 through 6 {
    .box-generos-#{$i} {
      grid-area: box-generos-#{$i};
      background-color: #ffe69c;
      border: 0.5rem solid #01565a;
    }
  }

  .img-generos {
    max-width: 13.9rem;
    margin-top: 1.9rem;
  }

  .box-historia-generos {
    grid-area: box-historia-generos;
    background-color: #ffffff;
    width: 34rem;
    height: 17rem;
    margin-left: 1rem;
    border: 0.5rem solid #ffe69c;
  }

  .box-historia-generos-2 {
    grid-area: box-historia-generos-2;
    background-color: #ffffff;
    border: 0.5rem solid #01565a;
    width: 25rem;
    height: 16rem;
    margin-left: 47rem;
    margin-top: -40rem;
  }

  .avatar-tales-2 {
    width: 8rem;
    margin-left: 20.5rem;
    margin-top: -5rem;
  }
}
