/* main: inicio/index */
.main-index{
  .encabezado {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 32rem;
    background-color: #ffffff;
    margin-top: -2rem;
    .dialog-box-1 {
      position: relative;
      top: 0rem;
      padding: 3rem;
      width: 30rem;
      margin-right: 44rem;
      text-align: center;
      animation: slideInFromLeft 1.3s ease-in-out forwards;
      .img-inicio {
        width: 16rem;
      }
    }

  .dialog-box-2 {
      position: absolute;
      top: 15rem;
      width: 47rem;
      min-height: 10rem;
      padding: -1rem;
      margin-right: 5rem;
      border: 0.5rem solid #ffe69c;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      animation: slideInFromRight 1.8s ease-in-out forwards;
      overflow: auto;
    }
  }
  .section-contenido-destacado {
    display: grid;
    grid-template-areas:
      'grid-item dialog-box-3'
      'grid-item dialog-box-3'
      'grid-item dialog-box-5'
      'grid-item dialog-juego'
      'grid-item dialog-box-aprendizaje'
      'grid-item dialog-box-aprendizaje';
    grid-template-rows: auto;
    margin-top: 4rem;
    padding: 0%;
    .dialog-box-3 {
      grid-area: dialog-box-3;
      margin-top: 1rem;
      margin-left: -45rem;
      max-width: 24rem;
      max-height: 4rem;
      height: 5rem;
      border: 0.3rem solid #01565a;
      background-color: #ffffff;
    }

    .dialog-box-5 {
      grid-area: dialog-box-5;
      overflow: auto;
      margin-bottom: -26.5rem;
      margin-top: -120rem;
      background-color: rgb(255, 255, 255);
      border: 0.5rem solid #ffe69c;
      width: 45rem;
      height: 22rem;
    }

    .dialog-juego {
      grid-area: dialog-juego;
      background-color: #ffffff;
      border: 0.5rem solid #01565a;
      width: 66%;
      margin: 9rem;
      height: 26rem;
      margin-top: -90rem;
      margin-left: 9rem;
      text-align: center;
      .div-juego-1{
        display: grid;
        gap: 0.8rem;
      }
      .btn-juego {
        border: 0.2rem solid #ffe69cbd;
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin: 0.5rem;
        width: 22rem;
        margin: 1rem;
        margin-left: 4rem;
      }
    }
    .dialog-box-aprendizaje {
      grid-area: dialog-box-aprendizaje;
      background-color: #ffffff;
      height: 27rem;
      width: 29rem;
      margin-top: -58rem;
      margin-left: 10rem;
    }
    .div-dato-curioso-1 {
      display: flex;
      flex-direction: column;
      border: 0.2rem solid #01565a;
      margin: 1rem;
      height: 25rem;
      text-align: center;
      background-image: url(../img/avatar-tales.jpg);
      background-position-x: -4.8rem;
      background-size: contain;
      background-repeat: no-repeat;

      .text-dato-curioso {
        width: 15rem;
        margin-left: 11rem;
        margin-top: 1rem;
        text-align: end;
      }
    }
    .button-mas-historias {
      grid-area: button-mas-historias;
      text-decoration: none;
      width: 15rem;
      margin-bottom: 4rem;
      background-color: aliceblue;
      border: 0.5rem solid #ffe69c;
      text-align: center;
      margin-left: -55rem;

      a {
        text-decoration: none;
        color: #000;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    grid-gap: 2rem;
    padding: 4rem;
    .grid-item-container {
      display: grid;
      background-color: #ffffff;
      width: 40rem;
      height: 15rem;

      &:hover {
        animation: bounce 1s;
      }
    }
    .grid-item {
      display: grid;
      grid-area: grid-item;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      'img-cuento texto'
      'img-cuento texto';
      .img-cuento {
        grid-area: img-cuento;
        width: 100%;
        height: 15rem;
      }
    }
    .linea-divisora1, .linea-divisora2,
    .linea-divisora3, .linea-divisora4,
    .linea-divisora5, .linea-divisora6 {
      display: grid;
      grid-template-areas: 'h4 btn-modales';
      position: sticky;
      border-bottom: 1px solid #ccc;
      width: 41rem;
      margin-top: 2rem;
      .h4 {
        grid-area: h4;
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-left: 2rem;
      }
    }
    .modal{
      .modal-dialog{
        .modal-conten{
          .modal-header {
            background-color: rgb(255, 255, 255);
            margin-bottom: 1rem;
          }
        }
      }
    }
    article {
      cursor: pointer;
    }
  }
}

 .iconos-grid-item {
   display: grid;
   grid-area: enlaces-lineas-div;
   width: 2rem;
   margin-left: 20rem;
   margin-top: -0.6rem;
   margin-bottom: -2.8rem;
 }

 .tabla-modal-body {
   background-color: #ffffff;
   box-shadow: 40px 2px 50px rgba(0, 0, 0, 0.2);
   width: 33rem;
   height: 15rem;
   border-radius: 0.8rem;
 }

.iconos-redes-item {
  width: 1rem;
  margin-right: 1rem;
}

.modal-body{
  text-align: justify;
  line-height: 2rem;
  top: 1rem;
}
.btn-modal {
  border: 2px solid #01565a;
  border-radius: 10px;
  width: 6rem;
  background-color: white;
}











