/* Animaciones */

/* animación: "rebotar" */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

/* animación: se desliza desde la derecha hasta su ubicación final */
@keyframes slideInFromRight {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

/* animación: se desliza desde la izquierda hasta su ubicación final */
@keyframes slideInFromLeft {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

/* animación: se "agitá" al activarse */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@keyframes shakeRight {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

@keyframes shakeLeft {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(10px); }
  20%, 40%, 60%, 80% { transform: translateX(-10px); }
}

@keyframes shakeUp {
  0%, 100% { transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateY(-5px); }
  20%, 40%, 60%, 80% { transform: translateY(5px); }
}

@keyframes shakeDown {
  0%, 100% { transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateY(5px); }
  20%, 40%, 60%, 80% { transform: translateY(-5px); }
}