/* Animaciones */

/* animación: "rebotar" */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  /* 50% {
    transform: translateY(-60px);
  } */
}

/* animación: se desliza desde la derecha hasta su ubicación final */
@keyframes slideInFromRight {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

/* animación: se desliza desde la izquierda hasta su ubicación final */
@keyframes slideInFromLeft {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
