  /* Media query index/inicio*/
 @media (min-width: 320px) and (max-width: 768px){
    .main-index{
        height: 300rem;
        min-width: 20rem;
        margin-right: -6rem;
    .encabezado{
        grid-template-columns: 1fr; 
        max-width: 20rem ;
        margin-left: 3.5rem;
        max-height: 25rem;
        .dialog-box-1{
            max-width: 18rem;
            margin-left: 0.5rem;
            .img-inicio{
                max-width: 9rem; 
            }
        }
        .dialog-box-2{
            max-width: 17rem;
            margin-right: 4rem;
            max-height: 20rem;
            margin-top: 25rem;
        }
    }
    .section-contenido-destacado {
        grid-template-areas:
            'dialog-box-5'
            'dialog-juego'
            'dialog-box-aprendizaje'
            'dialog-box-3'
            'grid-item'
            'grid-container'
            'button-mas-historias';
        grid-template-columns: 1fr; 
        .div-dato-curioso-1{
            background-image: url(../img/avatar-tales.jpg);
            background-position-x: -3.8rem;
            background-position-y: 8rem;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .dialog-box-3{
            max-width: 19rem;
            margin-left: 3.8rem;
            max-height: 4rem;
            margin-top: 17rem;
            margin-bottom: -17rem;
        }
        .dialog-box-5{
            max-width: 20rem;
        }
        .dialog-juego{
            max-width: 20rem;
            .div-juego-1{
                max-width: 20rem;
                .respuesta{
                    max-width: 18rem;
                }
            }
        }
        .dialog-box-aprendizaje{
            max-width: 17rem;
            margin-top: 22rem;
            margin-bottom: -13rem;
            margin-left: 5rem;
        }
        .div-dato-curioso-1 .text-dato-curioso{
            width: 11rem;
            margin-left: 3rem;
            margin-top: 1rem;
            text-align: end;
        }
        .button-mas-historias{
            margin-left: 6rem;
            margin-top: 1rem;
        }
    }
    .grid-container{
        grid-area:grid-container;
        margin-left: -3.9rem; 
        .grid-item-container{
            max-width: 16rem;
            max-height: 11.8rem;
            margin-left: 5rem;
            margin-top: 14rem;
        }
        .grid-item{
            display: block;
            max-width: 20rem;
            .img-cuento{
                float: left;
                max-width: 8rem;
                height: 8rem;
                margin-top: -8.2rem;
            }
        }
        .linea-divisora1, .linea-divisora2,
        .linea-divisora3, .linea-divisora4,
        .linea-divisora5, .linea-divisora6{
            display: grid;
            grid-template-areas: 'h4 btn-modales';
            position: sticky;
            border-bottom: 1px solid #ccc;
            max-width: 18rem;
            margin-top: 2rem;
            margin-left: 4rem;
        }
    }
}
}
