    /*Media query géneros*/
@media (min-width: 320px) and (max-width: 768px){
    .main-generos{
        min-width: 20rem;
        margin-right: -6rem;
    .section-contenido-destacado-generos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        'box-historia-generos-2'
        'box-historia-generos-2'
        'box-historia-generos'
        'box-historia-generos'
        'box-encabezado-generos'
        'box-generos-1'
        'box-generos-2'
        'box-generos-3'
        'box-generos-4'
        'box-generos-5'
        'box-generos-6';
      gap: 1rem;
      min-width: 20rem;
      margin: 0 auto;
      margin-left: 0rem;
      height: auto;
      margin-top: 44rem;
      .box-encabezado-generos {
        margin-left: 1rem;
      }
        .box-historia-generos {
            width: 100%;
            margin-left: 0rem;
            margin-top: -51rem;
            height: 13rem;
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.8rem;
            }
        }

        .box-historia-generos-2 {
            width: 100%;
            margin-left: 0rem;
            margin-top: -33rem;
           
            p{
                font-size: 0.8rem;
            }
        }
         .avatar-tales-2 {
            width: 8rem;
            margin-left: 15rem;
            margin-top: -5rem;
        }
        .box-card {
            margin-bottom: 1rem;
            margin-left: 6rem;
        }
    }
#menu-generos {
    margin-left: 3rem;
    max-width: 20rem;
  }
}
}