  /* Media query index/inicio*/
 @media (min-width: 320px) and (max-width: 768px){
    .main-index{
        margin-right: -6rem;
        max-height: 177rem;
    .encabezado{
        grid-template-columns: 1fr;
        max-width: 20rem ;
        max-height: 25rem;
        .dialog-box-1{
            max-width: 18rem;
            margin-right: 0rem;
            .img-inicio {
            position: absolute;
            width: 10rem;
            margin-top: -6rem;
            }
            .img-inicio-2{
                width: 20rem;
            }
        }
        .dialog-box-2{
            max-width: 20rem;
            max-height: 20rem;
            margin-top: 15rem;
            margin-right: -1rem;
        }
    }
        .section-contenido-destacado {
            grid-template-areas:
                'dialog-box-5'
                'dialog-juego'
                'dialog-box-aprendizaje'
                'dialog-box-3'
                'grid-item'
                'grid-container'
                'button-mas-historias';
            grid-template-columns: 1fr;
            .carousel{
                max-width: 80%;
                margin-top: 19rem;
            }
            .banner-1{
                max-width: 80%;
                img{
                    max-width: 100%;
                }
                .dialog-box-aprendizaje{
                    margin-top: 4rem;
                    margin-bottom: -13rem;
                    margin-left: 6rem;
                    max-width: 20rem;
                    .div-dato-curioso-1{
                        height: 10rem;
                    }
                    p{
                        font-size: 0.6rem;
                    }
                }
            }

            .dialog-box-3{
                max-width: 18rem;
                text-align: end;
                margin-top: 17rem;
                margin-bottom: -17rem;
                margin-left: 7rem;
                h3{
                    font-size: 0.8rem;
                }
            }
            .dialog-box-5{
                max-width: 20rem;
                margin-left: 8rem;
            }
            .dialog-juego{
                max-width: 20rem;
                margin-top: 1rem;
                margin-left: 8rem;
                .div-juego-1{
                    max-width: 20rem;
                    .respuesta{
                        max-width: 12rem;
                    }
                }
            }

            .div-dato-curioso-1{
                min-width: 20rem;
                margin-top: 1rem;
                text-align: end;
            }
            .button-mas-historias{
                margin-top: 1rem;
                margin-left: 8.5rem;
            }
            .grid-item-container{
                max-width: 16rem;
                max-height: 11rem;
                margin-top: 14rem;
                .grid-item{
                    grid-template-columns: 60% 40%;
                    max-width: 20rem;
                    max-height: 15rem ;
                    margin-left: -26rem;
                    margin-top: -10rem;
                    img{
                        float: left;
                        max-width: 90%;
                        height: 15.2rem;
                        margin-top: -0.2rem;
                    }
                    p{
                        font-size: 0.8rem;
                        margin: 0.2rem;
                        line-height: 1rem;
                    }
                    h3{
                        line-height: 1rem;
                        margin: 0.2rem;
                    }
                }
            }
        }
    }
}