/* Footer homogéneo para todas los HTML */
.footer-section {
  background-color: #01565a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "footer-item dialog-box-4";
  h4 {
    margin-left: 1rem;
    font-size: 2rem;
    margin-top: 4rem;
    color: aliceblue;
  }
  .dialog-box-4 {
    display: flex;
    grid-area: dialog-box-4;
    padding: 0rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    img {
      position: relative;
      margin-top: 9rem;
      margin-left: -25rem;
      margin-right: 29rem;
      height: auto;
      width: 2.5rem;
      z-index: 1;
    }
  }
  .footer-item {
    grid-area: footer-item;
    padding: 3rem;
      a {
      text-decoration: none;
      font-size: 1.5rem;
      color: aliceblue;
      margin-top: 0.5rem;
      display: flow;
    }
  }
}









